.desc-text {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 5rem;
    column-gap: 3rem;
    padding: 2rem 0rem;
    width: 100%;
    margin: auto;
    /* height: 100%; */
    place-items: center;
  }
  .categories-item img {
    object-fit: fill;
  }
  .categories-item h3,
  .categories .author {
    padding: 1rem;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .search-form button {
    position: absolute;
    top: 0.5rem;
    right: 0.2rem;
    cursor: pointer;
  }
  .categories h1 {
    position: absolute;
  }